
@{
    ViewBag.Title = "AdminHome";
   // Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Welcome on Admin Panel</h2>

<table>
    <tr>
        <td>
            <input type="text" name="product" />
            <input type="button" name="submit" value="Button" />
        </td>
    </tr>
</table>


